<div class = "titlulo"><p>{{tittle}}</p></div>

<div class = "formulario">
    <form [formGroup] = "myForm" (ngSubmit) = "onSubmit()">

        <label for="id">id:</label>
        <input type="number" id="id" formControlName="id" [disabled]="isRead"> <br>
    
        <label for="nombre">nombre:</label>
        <input type="text" id="nombre" formControlName="nombre" [disabled]="isRead"> <br>
    
        <label for="precio">precio:</label>
        <input type="number" id="precio" formControlName="precio" [disabled]="isRead"> <br>
    
        <label for="stock">stock:</label>
        <input type="number" id="stock" formControlName="stock" [disabled]="isRead"> <br>
    
        <label for="categoria">categoria:</label>
        <input type="number" id="categoria" formControlName="categoria" [readonly]="isRead"> <br>

        @if (this.accion!=3) {
            <button class="button" [mat-dialog-close] type="submit" [disabled]="myForm.invalid" >Guardar</button>
        }
    </form>

    <button class="buttoncerrar" [mat-dialog-close]>Cerrar</button>
</div>
